@page
@using Microsoft.Extensions.Localization
@using Kar.Web3.Hedera.Localization
@using Kar.Web3.Hedera.Web.Pages.Hedera
@model Kar.Web3.Hedera.Web.Pages.Hedera.IndexModel
@inject IStringLocalizer<HederaResource> L

@{
}
<h1>Hedera</h1>
<p>@L["SamplePageMessage"]</p>
